<div class="container px-2 px-sm-0">
  <div class="row mt-4">
    <div class="col-md-3">

      <% if @user.id == current_user.id %>
        <%= form_with model: @dog, url: user_dogs_path(@user), local:true do |f| %>
          <div class="form-group">
            <label class="dog_name_form">わんちゃんの名前</label>
            <%= f.text_field :name , class: "form-control"%>
          </div>
  
          <div class="form-group">
            <label class="dog_type_form">犬種</label>
            <%= f.text_field :dog_type ,class: "form-control" %>
          </div>
  
          <div class="form-group">
            <label class="dog_size_form">大きさ</label>
            <%= f.select :dog_size, Dog.dog_sizes.keys, {prompt: "選択してください"}, class: "form-control" %>
          </div>
  
          <div class="form-group">
            <%= f.submit 'わんちゃん登録',class: "btn btn-success" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <div class="d-flex">
        <h3 style='color: #82654D; font-size: 35px;'>My Dog</h3>
        <p class='mt-3' style='font-size: 15px;'>ー愛犬ー</p>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>犬種</th>
            <th>大きさ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @dogs.each do |dog| %>
            <tr>
              <td class="align-middle"><%= dog.name %></td>
              <td class="align-middle"><%= dog.dog_type %></td>
              <td class="align-middle"><%= dog.dog_size %></td>
              <td class="align-middle">
                <% if @user.id == current_user.id %>
                  <%= link_to "削除", user_dog_path(@user,dog), method: :delete,class: "btn btn-sm btn-outline-danger", data: { confirm: "本当にわんちゃんの情報を削除しますか？" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>