<div class="container px-4 pt-4">
  <h3>フォロー中</h3>
  <div class="row mt-4">
    <div class="col-sm-9">
    <% if @users.exists? %>
      <table class="table table-sm">
        <thead>
          <tr>
            <th></th>
            <th>名前</th>
             <th>フォロー数</th>
             <th>フォロワー数</th>
             <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <%= attachment_image_tag user, :profile_image, :fill, 70, 70, fallback: "no-image-icon.jpg" ,size: '60x60' ,class: "rounded-circle"%>
                <% end%>
              </td>
              <td class="align-middle"><%= link_to user.name, user_path(user) %></td>
              <%= render 'relationships/follow_count', user: user %>
              <td class="align-middle"><%= render 'relationships/follow_btn', user: user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
    </div>
  </div>
</div>