<!--ユーザー詳細画面サイドバー-->
  <div class="d-flex justify-content-center align-items-center mb-2">
    <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', size: "100x100", fallback: "no-image-icon.jpg",class: "rounded-circle" %>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row">ニックネーム</th>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <th scope="row">自己紹介</th>
        <td><%= user.introduction %></td>
      </tr>
      <tr>
        <th>フォロー</th>
        <th><%= link_to user_followings_path(user) do %>
        <%= user.followings.count %>
        <% end %>
        </th>
      </tr>
      <tr>
        <th>フォロワー</th>
        <th><%= link_to user_followers_path(user) do %>
        <%= user.followers.count %>
        <% end %>
        </th>
      </tr>
    </tbody>
  </table>
