<div class="container">
  <div class="row">
    <div class="col-md-9 edit-user-box mx-auto text-center shadow rounded px-0 my-5">
      <h3 class="user-send py-4"><i class="fas fa-user-edit"></i>マイページ編集</h3>
      
      <% if @user.errors.any? %>
        <ul class="user-alert", style="list-style: none;">
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="px-3 py-3 text-left">
        <%= form_with model:@user, local:true do |f| %>
          <div class="form-group">
            <%= f.label :profile_image, "プロフィール画像" ,class: "form-control-file",style: "font-weight: bold;" %>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no-image-icon.jpg" %>
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
          </div>

          <div class="form-group">
            <%= f.label :name, "ニックネーム" ,style: "font-weight: bold;"%>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :introduction, "自己紹介 (最大140文字)" ,style: "font-weight: bold;"%>
            <%= f.text_area :introduction, autofocus: true, class: 'form-control' ,size: "50x5" %>
          </div>

          <%= f.submit "\uf4ff変更を保存", style:'font-family: FontAwesome', class: "btn btn-block btn-info mt-5 mb-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>