<div class="container px-5 px-sm-0">
  <div class="row mt-4">
    <div class="col-md-3">

      <%=render "info" ,user: @user %>
      <div class= "mt-4">
        <%= link_to "いいねした投稿", favorites_user_path(@user), class: "btn btn-block btn-sm btn-info"%>
        <%= link_to "わんちゃん", dogs_path, class: "btn btn-block btn-sm btn-success" %>

        <% if @user.id == current_user.id %>
          <%= link_to "マイページを編集する", edit_user_path(@user), class: "btn btn-block btn-sm btn-secondary" %>
        <% else %>
          <%= render 'relationships/follow_btn', user: @user %>
        <% end %>
      </div>



    </div>

    <div class="col-md-9">
      <h3>投稿一覧</h3>
      <div class="row m-3">
        <%= render "posts/index", posts: @posts %>
      </div>
      <%= paginate @posts %>
  </div>
</div>
