<div class="container px-5 px-sm-0">
  <div class="row mt-4">
    <div class="col-md-3">
      <%=render "info" ,user: @user %>
      <%= link_to "わんちゃん", dogs_path, class: "btn" %>

    </div>

    <div class="col-md-9">
      <h3>投稿一覧</h3>
      <div class="row m-3">
        <%= render "posts/index", posts: @posts %>
      </div>
      <%= paginate @posts %>

      <h3>いいね一覧</h3>
      <div class="row m-4">
        <% if @favorite_list.present? %>
          <% @favorite_list.each do |post| %>
            <div class="col-12, m-1">
          <%= link_to post_path(post), class: "link" do %>

            <% if post.post_images.present? %>
              <% post.post_images.first(1).each do |image| %>
                <%= attachment_image_tag image, :image, format: 'jpeg', fallback: "no-image-icon.jpg",size: '200x150'%><br>
              <% end %>
            <% else %>
              <%= image_tag 'no-image-icon.jpg', size: '200x150' %><br>
            <% end %>

          <% end %>

          <%= link_to post.place,post_path(post) %>
       </div>
      <% end %>
    <% end %>
  </div>
</div>
