<h2>ワンジョイ！へようこそ</h2>
いつでもどこでもワンちゃんと一緒に<br>
あなたのお気に入りスポットを見つけよう


<div class="mx-auto mt-3" style="width: 300px;">
  <%= link_to "投稿一覧を見る", posts_path, class: "btn btn-lg btn-light " %>
</div>

<div class="mx-auto mt-3" style="width: 300px;">
  <%= link_to "ワンジョイとは？", about_path, class: "btn btn-lg btn-light " %>
</div>



<div class="form-inline form-group mx-auto mt-3" style="width: 500px;">
  <%= form_with(url: search_path, local: true, method: :get, class: "search-form") do |f| %>
    <%= f.text_field :keyword, autofocus: true, placeholder: "キーワードを入力",size: "45", class: "form-control" %>
    <%= f.submit "検索",class: "search-btn" %>
  <% end %>
</div>





<% if !user_signed_in? %>
  投稿、投稿詳細を見るには<%= link_to "ログイン", new_user_session_path , class: "btn btn-success "%>が必要です。<br>
  登録がお済みでない方は<%= link_to "新規登録", new_user_registration_path , class: "btn btn-primary "%>を行って下さい。
<% end %>