<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">ログイン</h5>
      <div class="form-body p-4">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
            </div>
            <%= f.text_field :name, autofocus: true, autocomplete: "name" , class:"form-control",placeholder: "名前"%>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "current-password" , class:"form-control" ,placeholder: "パスワード"%>
          </div>
          
          <%= f.submit "ログイン", class: "btn btn-block btn-info mt-5 mb-5" %>
        <% end %>
        
        
        <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-block btn-secondary" %>
      </div>
    </div>
  </div>
</div>
