<!--投稿一覧-->
<% posts.each do |post| %>
<div class="col-sm-6 col-md-4">
  <div class="post-box p-2">
    <div class="d-flex">
      <%= post.created_at.strftime("%Y/%m/%d")%>
      <div class="favorite-btn-<%= post.id %>">
        <%= render partial: 'favorites/favorite_btn', locals: { post: post }%>
      </div>
      <%= render 'post_comments/comment_count' , post: post %>
    </div>
	  
	  <%= link_to post_path(post) do %>
	    <ul class="slider">
	      <% if post.post_images.present? %>
          <% post.post_images.each do |image| %>
            <li>
              <%= attachment_image_tag image, :image, format: 'jpeg', class: 'post-index-image img-fluid' %>
            </li>
          <% end %>
        <% else %>
          <%= image_tag 'no-image.jpg', size: '270x170' %>
        <% end %>
      </ul>
      <%= post.place %>
    <% end %>
    
    <%= simple_format(post.address.truncate(18))%>
    <% if post.hashtags.present? %>
      <%= simple_format(post.hashbody.truncate(15))%>
    <% else %>
      <%= simple_format(post.body.truncate(15))%>
    <% end %>
    </div>
  </div>
<% end %>