<div class="container">
  <div class="row">
    <div class="col-md-9 new-post-box mx-auto text-center shadow rounded px-0 my-5">
      <h3 class="post-send py-4"><i class="far fa-edit"></i>編集</h3>
      
      <%= render "error_messages", post: @post %>
      
      <div class="px-3 py-3 text-left">
        <%= form_with model:@post, local:true do |f| %>
          <div class="form-group">
            <%= f.label :image, "画像",class: "form-control-file" ,style: "font-weight: bold;"%>
            <% @post_images.each do |post_image| %>
              <%= attachment_image_tag post_image, :image, :fill, 60, 60 %>
            <% end %>
            <%= f.attachment_field :post_images_images, multiple: true %>
          </div>

          <div class="form-group">
            <div class="required"><%= f.label :place, "場所名" ,style: "font-weight: bold;"%></div>
            <%= f.text_field :place, class: 'form-control' %>
          </div>

          <div class="form-group">
            <div class="required"><%= f.label :address, "住所" ,style: "font-weight: bold;"%></div>
            <%= f.text_field :address, class: 'form-control'  %>
          </div>

          <div class="form-group">
            <div class="required"><%= f.label :category, "カテゴリー" , style: "font-weight: bold;"%></div>
            <%= f.select :category, Post.categories.keys, {prompt: "選択してください"}, class: "form-control" %>
          </div>

          <div class="form-group">
            <div class="required"><%= f.label :body, "感想" ,style: "font-weight: bold;"%></div>
            <%= f.text_area :body, class: 'form-control' ,size: "50x5" %>
          </div>

          <div class="form-group">
            <%= f.label :hashbody, "ハッシュタグ入力欄" , style: "font-weight: bold;"%>
            <%= f.text_area :hashbody, class: "form-control",size: "50x3" %>
          </div>


          <%= f.submit "\uf044変更を保存", style:'font-family: FontAwesome', class: "btn btn-block btn-success mt-5 mb-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>