<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto text-center shadow rounded px-0 my-5">
      <h3 class="todo-title py-4">編集</h3>
      <div class="px-5 py-3">

        <%= form_with model:@post, local:true do |f| %>
          <div class="form-group row">
            <div class="col-2"><%= f.label :image, "画像",class: "form-control-file" ,style: "font-weight: bold;"%></div>
            <div class="col-10">
              <% @post_images.each do |post_image| %>
                <%= attachment_image_tag post_image, :image, :fill, 60, 60 %>
              <% end %>
              <%= f.attachment_field :post_images_images, multiple: true %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-2"><%= f.label :place, "場所名" ,style: "font-weight: bold;"%></div>
            <div class="col-10">
              <%= f.text_field :place, autofocus: true,class: 'form-control' %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-2"><%= f.label :address, "住所" ,style: "font-weight: bold;"%></div>
            <div class="col-10">
              <%= f.text_field :address, class: 'form-control'  %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-2"><%= f.label :category, "カテゴリー" , style: "font-weight: bold;"%></div>
            <div class="col-10">
              <%= f.select :category, Post.categories.keys, {prompt: "選択してください"}, class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-2"><%= f.label :body, "説明" ,style: "font-weight: bold;"%></div>
            <div class="col-10">
              <%= f.text_area :body, class: 'form-control' ,size: "50x5" %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-2"><%= f.label :hashbody, "ハッシュタグ入力欄" , style: "font-weight: bold;"%></div>
            <div class="col-10">
              <%= f.text_area :hashbody, class: "form-control",size: "50x3" %>
            </div>
          </div>


          <%= f.submit "\uf044変更を保存", style:'font-family: FontAwesome', class: "btn btn-block btn-success mt-5 mb-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>