<div class="container">
  <div class="row mt-2">
    <div class="col-7 mt-3">
      <% if @post.post_images.present? %>
        <% @post.post_images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 300, 250 %>
        <% end %>
      <% else %>
        <%= image_tag 'no-image-icon.jpg', size: '300x250' %>
      <% end %>
    </div>

    <div class="col-5">

      <table class="table table-sm">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no-image-icon.jpg" %>
              <% end %>
              </td>
            <td><%= link_to @user.name, user_path(@user) %></td>
          </tr>
          <tr>
            <th scope="row">場所名</th>
            <td><%= @post.place %></td>
          </tr>
          <tr>
            <th scope="row">住所</th>
            <td><%= @post.address %></td>
          </tr>
          <tr>
            <th scope="row">主な目的</th>
            <td><%= @post.purpose %></td>
          </tr>
          <tr>
            <th scope="row">日付</th>
            <td><%= @post.created_at.strftime('%Y年%-m月%-d日(%a)')%></td>
          </tr>
          <tr>
            <th scope="row">感想</th>
            <td><%= @post.body %></td>
          </tr>
        </tbody>
      </table>

      <% if @user.id == current_user.id %>
        <%= link_to "編集する", edit_post_path(@post), class: "btn btn-sm btn-success " %>
        <%= link_to "削除する", post_path(@post), class: "btn btn-sm btn-danger" , method: :delete ,"data-confirm" => "本当に削除しますか？" %>
      <% end %>

      <h4>地図</h4>
      <div id='map'></div>

      <style>
      #map{
        height: 300px;
        width: 500px;
      }
      </style>

      <script>
        let map
        let geocoder

        function initMap(){
          // geocoderを初期化
          geocoder = new google.maps.Geocoder();

          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 15
          });
            // 住所入力を取得
          let inputAddress = `${gon.post.address}`;

          // geocodingしたあとmapを移動
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
        // map.setCenterで地図が移動
              map.setCenter(results[0].geometry.location);

        // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        }

      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>

    </div>
  </div>
</div>