<!--投稿詳細-->
<div class="container px-5 px-sm-0">
  <div class="row mt-4">
    <div class="col-md-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', size: "50x50", fallback: "no-image-icon.jpg" ,class: "rounded-circle" %>
              <% end %>
            </td>
            <td class="align-middle"><%= link_to @user.name, user_path(@user) %></td>
          </tr>
          <tr>
            <th scope="row">場所名</th>
            <td><%= @post.place %></td>
          </tr>
          <tr>
            <th scope="row">住所</th>
            <td><%= @post.address %></td>
          </tr>
          <tr>
            <th scope="row">主な目的</th>
            <td><%= @post.purpose %></td>
          </tr>
          <tr>
            <th scope="row">投稿日</th>
            <td><%= @post.created_at.strftime('%Y年%-m月%-d日(%a)')%></td>
          </tr>
          <tr>
            <th scope="row">感想</th>
            <td><%= @post.body %></td>
          </tr>
        </tbody>
      </table>


      <!--いいねボタン-->
      <div class="favorite-btn-<%= @post.id %>">
        <%= render partial: 'favorites/favorite_btn', locals: { post: @post }%>
      </div>
      
      <div class="mt-4">
        <% if @user.id == current_user.id %>
          <%= link_to " 編集", edit_post_path(@post), class: "fas fa-edit btn btn-block btn-outline-info " %></td>
          <%= link_to " 削除", post_path(@post), class: "fas fa-trash btn btn-block btn-outline-dark" , method: :delete ,"data-confirm" => "本当に投稿を削除しますか？" %></td>
        <% end %>
      </div>
    </div>
    
    <!--画像スライダー-->
    <div class="col-md-7 offset-md-1">
      <% if @post.post_images.present? %>
      <div class="slider">
        <% @post.post_images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 600, 400 %>
        <% end %>
      </div>
      <% else %>
        <%= image_tag 'no-image-icon.jpg', size: '300x250' %>
      <% end %>
    </div>
  </div>
  
  <!--地図-->
  <div class="row mt-4">
    <div class="col-md-4">
      <div id='map'></div>

      <style>
      #map{
        width: 400px;
        height: 300px;
      }
      </style>

      <script>
        let map
        let geocoder

        function initMap(){
          // geocoderを初期化
          geocoder = new google.maps.Geocoder();

          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 15
          });
            // 住所入力を取得
          let inputAddress = `${gon.post.address}`;

          // geocodingしたあとmapを移動
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
        // map.setCenterで地図が移動
              map.setCenter(results[0].geometry.location);

        // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        }

      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>


    </div>

    <div class="col-md-7 offset-md-1">
      <div class = "d-flex">
        <h5>コメント</h5>
        <!--コメント件数-->
        <div class="comment-count">
          <%= render 'post_comments/comment_count',post: @post %>
        </div>
      </div>

      <!--コメント一覧-->
      <div class="comment-index">
        <%= render 'post_comments/comment_index', post: @post %>
      </div>

      <!--コメントフォーム-->
      <div class="comment">
        <%= render 'post_comments/comment', post: @post, post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>